* {
	margin: 0;
	padding: 0;
}

body {}
#container {

	}
nav {
	background: #000;
	color: white;
	position: fixed;
	width: 100vw;
	z-index: 1;
}
nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	}
nav li {
	list-style: none;
	padding: 15px;
	transition: background .5s, color .5s;
}
nav li:hover {
background: #ff6600;
color: #000;
}
nav a {
	color: white;
	text-decoration: none;
}
header {
	background: lightblue;
	width: 100vw;
	height: 100vh;
	padding: 20% 28%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
		}
hgroup {
	margin: 0 auto;
	display: flex;

}
.h_left {
padding: 30px 0;
margin: 10px;
opacity: 0;
animation: h_left_anim 3s;
animation-fill-mode: forwards;
}

.h_right {
height: 100px;
width: 100px;
margin: 10px;
opacity: 0;
animation: h_right_anim 1s;
animation-fill-mode: forwards;
}
.h_right img {
	border-radius: 100px; 
}
.btn {
	text-align: center;
}
#one {
	padding: 20px;
	width: 100vw;
	background: #993300;
	color: white;
	border-top: 3px solid red;
	box-sizing: border-box;
	}
#one h1 {
	text-align: center;
	padding: 10px;
	font-size: 30px;
}
#one p {
	column-count: 2;
	width: 600px;
	margin: 0 auto;
}
#one button {
	background: #993300;
	border: 2px solid white;
	color: white;
	border-radius: 15px;
	margin: 20px 0;
	width: 200px;
	height: 50px;
	font-size: 20px;
	transition: background .5s, color .5s;
	outline: none;
}
#one button:hover {
	background: white;
	color: #993300;
	}
#two {
	padding: 20px;
	width: 100vw;
	background: white;
	color: black;
	border-top: 3px solid #00007a;
	box-sizing: border-box;
}	
#two h1 {
	color: black;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}
#two article {
	width: 300px;
	height: 200px;
	background-color: #6666c2;
	margin: 10px 20px;
}
.work-group {
	justify-content: center;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex-flow: row wrap;
}
#three {
	padding: 20px;
	width: 100vw;
	background: lightblue;
	color: black;
	border-top: 3px solid #00007a;
	box-sizing: border-box;
}
#three h1 {
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}	
#three form {
	width: 500px;
	margin: 0 auto;
}
#three input {
	display: block;
	width: 500px;
	height: 30px;
	margin: 10px 0;
	outline: none;
}
#three textarea {
	display: block;
	width: 500px;
	height: 100px;
	margin: 10px 0;
	outline: none;	
}
#three button {
	background: lightblue;
	border: 2px solid white;
	color: white;
	border-radius: 15px;
	margin: 20px 0;
	width: 200px;
	height: 50px;
	font-size: 20px;
	transition: background .5s, color .5s;
	outline: none;
}
#three button:hover {
	background: white;
	color: lightblue;
	}
/* rules */
@keyframes h_left_anim {
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes h_right_anim {
	from{opacity: 0;}
	to{opacity: 1;}
}